<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="hocMESH.Compute.Client"
    Name="hocMESH Compute Client"
    Manufacturer="hocMESH Contributors"
    Version="$(HocMeshVersion)"
    UpgradeCode="8A83C7C3-3369-4C5F-A907-BB5660EA6422"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer hocMESH Compute Client is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="hocMESH">
        <!-- All three binaries ship together. A machine that has `hocmesh`
             but not `hocmesh-coordinator` cannot start a mesh, only join one
             that somebody else already started, which makes the installer a
             half-install that looks complete. -->
        <Component Id="HocMeshClient" Guid="*" Bitness="always64">
          <File Id="HocMeshExecutable" Source="$(HocMeshExe)" KeyPath="yes" />
          <Environment
            Id="HocMeshPath"
            Name="PATH"
            Value="[INSTALLFOLDER]"
            Action="set"
            Part="last"
            System="yes" />
        </Component>
        <Component Id="HocMeshCoordinator" Guid="*" Bitness="always64">
          <File Id="HocMeshCoordinatorExecutable" Source="$(HocMeshCoordinatorExe)" KeyPath="yes" />
        </Component>
        <Component Id="HocMeshValidator" Guid="*" Bitness="always64">
          <File Id="HocMeshValidatorExecutable" Source="$(HocMeshValidatorExe)" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="hocMESH Compute Client" Level="1">
      <ComponentRef Id="HocMeshClient" />
      <ComponentRef Id="HocMeshCoordinator" />
      <ComponentRef Id="HocMeshValidator" />
    </Feature>
  </Package>
</Wix>
